In [1]:
%load_ext autoreload
%autoreload 2

In [32]:
import csv
import numpy
# You may or may not want to use this package, or others like it
# this is just a starting point for you
from sklearn.linear_model import LinearRegression

import pandas as pd
import os

In [3]:
# Read the player database into an array of dictionaries
players = []
with open('playerDB.csv', mode='r') as player_csv:
    player_reader = csv.DictReader(player_csv)
    line_count = 0
    for row in player_reader:
        players.append(dict(row))

# Read the draft database into an array of dictionaries
draftPicks = []
with open('draftDB.csv', mode='r') as draft_csv:
    draft_reader = csv.DictReader(draft_csv)
    line_count = 0
    for row in draft_reader:
        draftPicks.append(dict(row))

In [55]:
players_df = pd.read_csv('playerDB.csv')
draft_df = pd.read_csv('draftDB.csv')

In [67]:
players_df[players_df['urlID']=='abdulka01']

,Season,Rk,Player,urlID,Pos,Age,Tm,G,MP,PER,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1979-80,1,Kareem Abdul-Jabbar*,abdulka01,C,32,LAL,82,3143,25.3,...,15.7,24.1,9.5,5.3,14.8,0.227,4.0,2.7,6.7,6.8
287,1980-81,1,Kareem Abdul-Jabbar*,abdulka01,C,33,LAL,80,2976,25.5,...,12.8,26.3,9.6,4.6,14.3,0.230,3.9,1.4,5.3,5.4
591,1981-82,1,Kareem Abdul-Jabbar*,abdulka01,C,34,LAL,76,2677,23.4,...,13.3,25.6,6.9,3.9,10.7,0.192,2.9,1.4,4.3,4.2
907,1982-83,1,Kareem Abdul-Jabbar*,abdulka01,C,35,LAL,79,2554,23.6,...,12.6,24.6,8.0,2.9,10.9,0.205,3.6,0.3,3.8,3.8
1223,1983-84,1,Kareem Abdul-Jabbar*,abdulka01,C,36,LAL,80,2622,21.3,...,13.5,25.1,5.9,3.1,8.9,0.163,2.4,0.4,2.8,3.2
1533,1984-85,1,Kareem Abdul-Jabbar*,abdulka01,C,37,LAL,79,2630,22.9,...,12.5,24.3,7.6,3.6,11.2,0.204,3.6,1.3,4.9,4.6
1853,1985-86,1,Kareem Abdul-Jabbar*,abdulka01,C,38,LAL,79,2629,22.7,...,11.7,26.6,7.6,3.2,10.8,0.197,3.7,0.8,4.5,4.3
2178,1986-87,1,Kareem Abdul-Jabbar*,abdulka01,C,39,LAL,78,2441,17.9,...,14.0,22.1,4.5,3.0,7.5,0.148,1.2,0.4,1.6,2.2
2513,1987-88,1,Kareem Abdul-Jabbar*,abdulka01,C,40,LAL,80,2308,15.8,...,13.5,21.4,2.6,2.7,5.3,0.111,-0.8,0.2,-0.6,0.8
2845,1988-89,1,Kareem Abdul-Jabbar*,abdulka01,C,41,LAL,74,1695,12.9,...,11.5,20.1,0.9,2.0,2.9,0.082,-2.3,0.0,-2.3,-0.1

In [41]:
draft_df.loc[:,'urlID'] = draft_df['basketball_reference_url'].apply(lambda url: os.path.splitext(os.path.basename(str(url)))[0])

In [56]:
draft_df[draft_df['basketball_reference_url'].isna()]

,yearDraft,numberPickOverall,numberRound,numberRoundPick,namePlayer,slugTeam,nameOrganizationFrom,typeOrganizationFrom,idPlayer,idTeam,nameTeam,basketball_reference_url
96,2018,37,2,7,Gary Trent Jr.,SAC,Duke,College/University,1629107,1610612758,Sacramento Kings,NaN
102,2018,43,2,13,Justin Jackson,DEN,Maryland,College/University,1628992,1610612743,Denver Nuggets,NaN
144,2017,25,1,25,Anzejs Pasecniks,ORL,CB Gran Canaria,Other Team/Club,1628394,1610612753,Orlando Magic,NaN
168,2017,49,2,19,Vlatko Cancar,DEN,KK Mega Leks,Other Team/Club,1628427,1610612743,Denver Nuggets,NaN
169,2017,50,2,20,Mathias Lessort,PHI,Nanterre 92,Other Team/Club,1628406,1610612755,Philadelphia 76ers,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7825,1949,6,1,6,Ron Livingstone,BAL,Wyoming,College/University,77392,1610610024,Baltimore Bullets,NaN
7826,1949,7,1,7,Dick McGuire,NYK,St. John's (NY),College/University,77537,1610612752,New York Knicks,NaN
7827,1949,8,1,8,Wallace Jones,WAS,Kentucky,College/University,77199,1610610036,Washington Capitols,NaN
7828,1949,9,1,9,Jack Kerris,CHS,Loyola-Chicago,College/University,77249,1610610025,Chicago Stags,NaN
7829,1949,10,1,10,Frank Saul,ROC,Seton Hall,College/University,78063,1610612758,Rochester Royals,NaN

In [81]:
players_df['urlID']

0        abdulka01
1        abernto01
2        adamsal01
3        architi01
4        awtrede01
           ...
16609    youngtr01
16610    zelleco01
16611    zellety01
16612    zizican01
16613    zubaciv01
Name: urlID, Length: 16614, dtype: object

In [63]:
players_df[players_df['Player']=='Gary Trent']

,Season,Rk,Player,urlID,Pos,Age,Tm,G,MP,PER,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
5937,1995-96,386,Gary Trent,trentga01,PF,21,POR,69,1219,12.4,...,15.8,21.0,0.1,1.6,1.7,0.065,-3.1,-0.4,-3.5,-0.5
6375,1996-97,395,Gary Trent,trentga01,PF,22,POR,82,1918,16.8,...,14.3,21.2,2.9,2.6,5.5,0.139,-0.4,0.1,-0.3,0.8
6811,1997-98,390,Gary Trent,trentga01,PF,23,TOT,54,1360,16.2,...,13.6,22.8,1.6,1.6,3.1,0.110,-0.9,-0.7,-1.6,0.1
7249,1998-99,389,Gary Trent,trentga01,PF,24,DAL,45,1362,20.8,...,8.6,26.0,3.0,1.0,4.0,0.140,1.8,-1.3,0.5,0.8
7698,1999-00,398,Gary Trent,trentga01,SF,25,DAL,11,301,14.6,...,14.2,25.8,-0.1,0.1,0.1,0.014,-1.6,-2.0,-3.6,-0.1
8143,2000-01,404,Gary Trent,trentga01,PF,26,DAL,33,319,13.8,...,13.1,23.9,-0.1,0.5,0.4,0.057,-3.3,-1.2,-4.5,-0.2
8582,2001-02,402,Gary Trent,trentga01,PF,27,MIN,64,1140,15.4,...,11.5,19.9,1.9,1.1,3.0,0.125,-0.2,-0.7,-0.9,0.3
9000,2002-03,380,Gary Trent,trentga01,SF,28,MIN,80,1222,15.9,...,12.0,18.3,2.0,1.3,3.3,0.128,0.1,-0.2,-0.1,0.6
9441,2003-04,393,Gary Trent,trentga01,C,29,MIN,68,1025,12.9,...,12.8,19.4,1.1,1.2,2.3,0.106,-1.9,-1.0,-2.9,-0.2
16564,2018-19,481,Gary Trent,trentga02,SG,20,POR,15,111,3.6,...,7.0,21.7,-0.3,0.1,-0.2,-0.092,-6.7,-3.6,-10.3,-0.2

In [60]:
players_df

,Season,Rk,Player,urlID,Pos,Age,Tm,G,MP,PER,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,1979-80,1,Kareem Abdul-Jabbar*,abdulka01,C,32,LAL,82,3143,25.3,...,15.7,24.1,9.5,5.3,14.8,0.227,4.0,2.7,6.7,6.8
1,1979-80,2,Tom Abernethy,abernto01,PF,25,GSW,67,1222,11.0,...,9.9,13.3,1.2,0.8,2.0,0.080,-1.5,-0.1,-1.6,0.1
2,1979-80,3,Alvan Adams,adamsal01,C,25,PHO,75,2168,19.2,...,18.2,21.9,3.1,3.9,7.0,0.155,1.6,2.8,4.4,3.5
3,1979-80,4,Tiny Archibald*,architi01,PG,31,BOS,80,2864,15.3,...,19.7,17.0,5.9,2.9,8.9,0.148,1.1,-1.1,0.0,1.5
4,1979-80,5,Dennis Awtrey,awtrede01,C,31,CHI,26,560,7.4,...,24.8,7.9,0.1,0.5,0.6,0.053,-2.9,1.5,-1.4,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16609,2018-19,526,Trae Young,youngtr01,PG,20,ATL,81,2503,17.0,...,17.6,28.4,2.5,0.7,3.3,0.062,1.8,-2.8,-1.1,0.6
16610,2018-19,527,Cody Zeller,zelleco01,C,26,CHO,49,1243,17.2,...,13.2,16.3,2.6,1.2,3.9,0.150,0.2,1.7,2.0,1.2
16611,2018-19,528,Tyler Zeller,zellety01,C,29,TOT,6,93,17.3,...,9.5,20.1,0.2,0.1,0.3,0.167,-1.0,-1.2,-2.2,0.0
16612,2018-19,529,Ante _i_i?,zizican01,C,22,CLE,59,1082,16.2,...,13.6,18.2,1.7,0.3,2.0,0.087,-1.7,-1.4,-3.1,-0.3
16613,2018-19,530,Ivica Zubac,zubaciv01,C,21,TOT,59,1040,18.9,...,13.9,20.3,1.9,1.3,3.2,0.148,-1.2,1.0,-0.3,0.5